<div class="container">
    <%= form_tag('home/search') do %>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="input-group buscador-principal">
                <%= text_field_tag :user_name, "", class: 'form-control' %>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                    <%= submit_tag("Search", :id=>"search", :class=>"btn btn-primary", :name=>"submit") %>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <% end -%>
    <% if @git_user.present? %>
      <%= render 'git_user', user: @git_user %>
    <% end %>
</div>