<div class="container">
    <%= form_tag('search') do %>
        <%= text_field_tag :user_name, (@git_user.try(:user_name) || ""), class: 'form-control' %>
        <%= submit_tag("Search", :id=>"search", :class=>"btn btn-primary", :name=>"submit") %>
    <% end %>
    <% if @git_user.present? %>
      <%= render 'git_user' %>
    <% end %>
</div>