.btn-search {
	background: #05b9c8;
	color: #fff;
}
.btn-search:hover {
	background: hsla(186, 70%, 52%, 0.71);
	color: #fff;
}
.marginTOP{
	margin-top: 10px;
}
label{ color: #05b9c8; }

.textAlign{ 
	margin-top: 3px;
	text-align: right;
}
.fa {
opacity: 0.3;
}

@media (max-width: 768px) {
	.fa{margin: 20px;}
	.btn-search{margin: 8px}
	.textAlign{
		text-align: center !important;
	}
}
